RewriteEngine On
RewriteBase /newGRATIEKS/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 404 http://localhost/newGRATIEKS/404.php

<Files koneksi.php>
	Order Allow,Deny
	Deny from all
</Files>

<Files hapusdata.php>
	Order Allow,Deny
	Deny from all
</Files>

<Files proseseditgratieks.php>
	Order Allow,Deny
	Deny from all
</Files>

<Files prosesinputgratieks.php>
	Order Allow,Deny
	Deny from all
</Files>

<Files lokasi_post.php>
	Order Allow,Deny
	Deny from all
</Files>

<Files lokasi_function.php>
	Order Allow,Deny
	Deny from all
</Files>

Options All -Indexes